//U99350821
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
